html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  /* alinha os itens no eixo contrário ao flex-direction */
  align-items: center;
  /* alinha os itens no mesmo eixo que o flex-direction */
  justify-content: space-around;
}

.box {
  width: 60px;
  height: 60px;
  background-color: #f00;
  margin: 5px;
}
