html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.box {
  width: 350px;
  height: 60px;
  background-color: #f00;
  margin: 5px;
}
