html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
}

.box {
  width: 350px;
  height: 60px;
  margin: 5px;
}

.red {
  background-color: red;
  order: 2;
}

.green {
  background-color: green;
  order: 1;
}

.blue {
  background-color: blue;
  order: 0;
}
